.exp-section-type-header{
    text-align: center;
    font-size: x-large;
}

.exp-section-year-header>h3{
    font-size: x-large;
}

.exp-section>main>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exp-card-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
    justify-content:center;
}

.exp-card{
    margin: 1rem;
    border-radius: 8px;
    width: 20rem;
    height: 25rem;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.exp-card:hover{
    transition: transform 0.3s ease;
    transform: scale(1.01);
}

.exp-card>header{
    border-radius: 8px 8px 0 0;
}

.exp-card>header>img{
    width: 100%;
    height: 10rem;
    border-radius: 8px 8px 0 0;
}

.header-text{
    height: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
    margin: 0;
}

.header-text>h4{
    padding: 0;
    margin: 1rem 0 0.5rem 0;
    font-weight: bolder;
}

.header-text>span{
    color: gray;
}

.exp-card>main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: justify;
    padding: 0 1rem 0 1rem;
    margin: 0;
    height: 6rem;
}

.exp-card>footer {
    margin: auto;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.exp-card>footer>p {
    font-weight: bolder;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.exp-card:hover>footer>p {
    opacity: 1;
    visibility: visible;
}

.favorite-icon {
    background-color: black;
    border-radius: 50px;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}