.exp-card-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.exp-card{
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    gap: 1rem;

    transition: all 0.3s ease;

    color: var(--text-color);
    background-color: none;

    cursor: pointer;
}

.exp-card:hover {
    transform: scale(1.01);
    outline: 2px solid var(--accent-navbar-color);
}

.experience-img{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience-img>img{
    background-color: white;
    border-radius: 5px 0 0 5px;
    height: 100%;
}

.experience-info{
    width: 70%;
    margin: 0;
}

.experience-info>h3{
    color: var(--accent-navbar-color);
}

@media only screen and (max-width: 600px){
    .exp-card{
        height: 12rem;
    }
}