.home-card{
    padding: 1rem;
    width: 16rem;
    border-width: 10px;
    border-radius: 10px;
    background-color: var(--card-background);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.home-card:hover{
    background-color: #007bff13;
    transition: background-color var(--transition-speed) ease;
    transform: scale(1.05);
}

.home-card>header{
    text-align: center;
}

.home-card>main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-card>main>div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.home-card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
    gap:1rem;
}

@media only screen and (max-width: 600px){
    .home-card {
        width: 100%;
    }
}